---
export const prerender = true;
import { getCollection } from 'astro:content';
import { render } from 'astro:content';
import Default from '@layouts/Default.astro';
import PostMetadata from '@components/PostMetadata.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));

	
}

const post = Astro.props;



const { Content } = await render(post);
---
<Default heroImage={post.data.cover}>

	<div class="prose">
		<h1>{post.data.title}</h1>
		
		<PostMetadata tags={post.data.tags} pubDate={post.data.pubDate} dateUpdated={post.data.updatedDate}></PostMetadata>

		
		
		<Content />
	</div>

</Default>


