---
export const prerender = true
import { getCollection } from 'astro:content'
import { render } from 'astro:content'
import General from '@layouts/General.astro'
import PostMetadata from '@components/PostMetadata.astro'

export async function getStaticPaths() {
	const posts = await getCollection('blog')

	return posts.map((post) => ({
		params: { slug: post.id },
		props: post
	}))
}

const post = Astro.props

const { Content } = await render(post)
---

<General title={post.data.title} description={post.data.description}}>
	<div class="">
		<h1>{post.data.title}</h1>

		<PostMetadata
			tags={post.data.tags}
			sections={post.data.sections}
			pubDate={post.data.pubDate}
			dateUpdated={post.data.updatedDate}
		/>

		<Content />
	</div>
</General>
