---
import { Image } from 'astro:assets'

const { height = 36, width = 36, name, color = false } = Astro.props
const col = color ? '/' + String(color) : ''
---

<div class="p-2 rounded-full">
	<Image height={height} width={width} src=`https://cdn.simpleicons.org/${name}${col}` alt=`Icon ${name}` />
</div>
