---
export const prerender = true
import fetchMeta from 'fetch-meta-tags'

interface Props {
	url: string
}

const { url } = Astro.props
const result = await fetchMeta(url)
---

<a href={result.url} class="not-prose my-4 flex gap-10 rounded-lg border-[1px] border-black/20 px-4 py-4 text-inherit">
	<img class="hidden h-36 w-36 rounded-lg object-cover md:block" src={result.image ?? result.icon} alt={result.image} />
	<div class="prose flex flex-col gap-y-2 overflow-hidden">
		<strong class="">{result.title}</strong>
		<p class="h-10 overflow-hidden text-ellipsis text-sm">{result.description}</p>
		<div class="flex items-center gap-2">
			<img class="h-4 w-4 rounded object-cover" src={result.icon} alt={result.icon} />
			<div class="text-sm underline">{result.url}</div>
		</div>
	</div>
</a>
