---
import Icon from './base/Icon.astro'
import { supabase } from '@db/supabase'
const today = new Date()

interface Link {
	name: string
	href: string
	off?: boolean
}
interface Social {
	name: string
	color: string
}

const {
	links = [
		{ name: 'About us', href: '/about' },
		{ name: 'Contact us', href: '/contact', off: true },
		{ name: 'Privacy policy', href: '/privacy' }
	],
	socials = [
		{ name: 'github', color: false },
		{ name: 'x', color: false },
		{ name: 'medium', color: false }
	]
} = Astro.props

const { data, error } = await supabase.from('socials').select()
console.log(data, error)
---

<footer class="h-full w-full bg-neutral-100">
	<div id="main-container" class="container mx-auto px-6 pt-12">
		<div class="grid-rows-auto grid grid-cols-1 gap-4 text-center lg:grid-cols-4 lg:gap-6">
			<div class="h-34 col-span-2 float-left pb-2">
				<h4>Subscribe to our newsletter</h4>
				<form>
					<input class="m-2 rounded-md border border-blue-300 p-2 shadow" type="email" required="true" />
					<button class="m-2 rounded-md border border-blue-300 fill-blue-200 p-2 shadow hover:border-blue-700 hover:drop-shadow-2xl">Subscribe</button>
				</form>
			</div>
			<div class="h-34 lg:col-span-2">
				<div class="width-full my-2 grid auto-cols-max grid-cols-2">
					<div>
						<div class="flex justify-evenly">
							{socials.map((soc: Social) => <Icon name={soc.name} color={soc.color} />)}
						</div>
					</div>
					<div>
						<ul class="text-left">
							{
								links.map(
									(link: Link) =>
										!link.off && (
											<li class="list-none">
												<a class="neutral-link" href={link.href}>
													{link.name}
												</a>
											</li>
										)
								)
							}
						</ul>
					</div>
				</div>
			</div>
			<div class="h-16 p-3 lg:col-span-4">
				&copy; {today.getFullYear()} Jeremy Georges-Filteau. All rights reserved.
			</div>
		</div>
	</div>
</footer>
